In [ ]:
!pip3 install us

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: us in /usr/local/lib/python3.7/dist-packages (2.0.2)
Requirement already satisfied: jellyfish==0.6.1 in /usr/local/lib/python3.7/dist-packages (from us) (0.6.1)

In [ ]:
# TO-Do use the output from model
import pandas as pd
import numpy as np
import us
import re

from city_to_state import city_to_state_dict
from geopy import geocoders

In [ ]:
data = pd.read_csv("atweets_complete_labeled.csv")
data.shape #15073*36

(15073, 36)

In [ ]:
states_lat = pd.read_csv('states_latandlong.csv')
states_lat['abbr'] = ''
# create distances dataframe
for i in range(states_lat.shape[0]):
  states_lat['abbr'][i] = us.states.lookup(str(states_lat['state'][i])).abbr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
states_lat

                   state  latitude  longitude abbr
0                Alabama   32.7794   -86.8287   AL
1                 Alaska   64.0685  -152.2782   AK
2                Arizona   34.2744  -111.6602   AZ
3               Arkansas   34.8938   -92.4426   AR
4             California   37.1841  -119.4696   CA
5               Colorado   38.9972  -105.5478   CO
6            Connecticut   41.6219   -72.7273   CT
7               Delaware   38.9896   -75.5050   DE
8   District of Columbia   38.9101   -77.0147   DC
9                Florida   28.6305   -82.4497   FL
10               Georgia   32.6415   -83.4426   GA
11                Hawaii   20.2927  -156.3737   HI
12                 Idaho   44.3509  -114.6130   ID
13              Illinois   40.0417   -89.1965   IL
14               Indiana   39.8942   -86.2816   IN
15                  Iowa   42.0751   -93.4960   IA
16                Kansas   38.4937   -98.3804   KS
17              Kentucky   37.5347   -85.3021   KY
18             Louisiana   31.0689   -91.9968   LA
19                 Maine   45.3695   -69.2428   ME
20              Maryland   39.0550   -76.7909   MD
21         Massachusetts   42.2596   -71.8083   MA
22              Michigan   44.3467   -85.4102   MI
23             Minnesota   46.2807   -94.3053   MN
24           Mississippi   32.7364   -89.6678   MS
25              Missouri   38.3566   -92.4580   MO
26               Montana   47.0527  -109.6333   MT
27              Nebraska   41.5378   -99.7951   NE
28                Nevada   39.3289  -116.6312   NV
29         New Hampshire   43.6805   -71.5811   NH
30            New Jersey   40.1907   -74.6728   NJ
31            New Mexico   34.4071  -106.1126   NM
32              New York   42.9538   -75.5268   NY
33        North Carolina   35.5557   -79.3877   NC
34          North Dakota   47.4501  -100.4659   ND
35                  Ohio   40.2862   -82.7937   OH
36              Oklahoma   35.5889   -97.4943   OK
37                Oregon   43.9336  -120.5583   OR
38          Pennsylvania   40.8781   -77.7996   PA
39          Rhode Island   41.6762   -71.5562   RI
40        South Carolina   33.9169   -80.8964   SC
41          South Dakota   44.4443  -100.2263   SD
42             Tennessee   35.8580   -86.3505   TN
43                 Texas   31.4757   -99.3312   TX
44                  Utah   39.3055  -111.6703   UT
45               Vermont   44.0687   -72.6658   VT
46              Virginia   37.5215   -78.8537   VA
47            Washington   47.3826  -120.4472   WA
48         West Virginia   38.6409   -80.6227   WV
49             Wisconsin   44.6243   -89.9941   WI
50               Wyoming   42.9957  -107.5512   WY

In [ ]:
data.user_location.sample(20)

273               San Francisco, CA
13412                           NaN
8965                            NaN
1474       18 // black&white // bi
6649                            NaN
3876                London, England
7238           Mississauga, Ontario
11067         San Diego, California
6666     the marshes in the valley.
8565                Tokyo-to, Japan
1461                            NaN
8617                            NaN
2782                London, England
11134     xwesam - Roberts Creek,BC
11498           Karachi Abbasi home
11171     Kelowna, British Columbia
10857                Nangal, Punjab
11144                           NaN
13125                           NaN
13266                           NaN
Name: user_location, dtype: object

In [ ]:
two_word_states = [
'new york',
'new hampshire',
'new jersey',
'new mexico',
'north dakota',
'south dakota',
'north carolina',
'south carolina',
'rhode island',
'west virginia'
]

In [ ]:
# clean user location 
# https://medium.com/swlh/extracting-location-data-from-twitter-54c837144038
data['abbr'] = ''
def get_state_abbr(x, ind):
  if type(x[ind]) == str and pd.isna(x[ind]) == False:
    if re.match('({})'.format("|".join(two_word_states)), x[ind].lower()):
      tokens = [re.match('({})'.format("|".join(two_word_states)), x[ind].lower()).group(0)]
    elif re.match('({})'.format("|".join(city_to_state_dict.keys()).lower()), x[ind].lower()):
      k = re.match('({})'.format("|".join(city_to_state_dict.keys()).lower()), x[ind].lower()).group(0)
      tokens = [city_to_state_dict.get(k.title(), np.nan)]
    else:
      tokens = [j for j in re.split("\s|,", x[ind]) if j not in ['in', 'la', 'me', 'oh', 'or']]
    for i in tokens:
      if re.match('\w+', str(i)):
        if us.states.lookup(str(i)):
          data['abbr'][ind] = us.states.lookup(str(i)).abbr
  else:
    data['abbr'][ind] = float('nan')

In [ ]:
for ind in range(data['user_location'].shape[0]):
  get_state_abbr(data['user_location'], ind)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data[['user_location','abbr']][:100]

                  user_location abbr
0                Washington, DC   IL
1               Springfield, Mo   MA
2                 Maryland, USA   MD
3                           NaN  NaN
4            Your mom's bedroom
..                          ...  ...
95  she/her 28 New Jersey, USA    MS
96                          NaN  NaN
97                 Portland, OR   OR
98              New Jersey, USA   NJ
99               Harrisburg, PA   PA

[100 rows x 2 columns]

In [ ]:
comb = pd.merge(data,states_lat, how='left', on='abbr')

In [ ]:
comb.sample(100)

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified,is_misinfo,abbr,state,latitude,longitude
7612,NaN,Thu Apr 29 03:36:32 +0000 2021,DrLiMengYan CCPVirus Covid19 UnrestrictedBiowe...,NaN,https://www.gnews.org/1148627/,6.0,1387611732332343296,NaN,NaN,NaN,...,edendomain,18677.0,NaN,NaN,False,1,,NaN,NaN,NaN
8210,NaN,Tue Apr 27 21:43:50 +0000 2021,COVID19 CovidVaccine GetVaccinated,NaN,NaN,1.0,1387160587621240833,NaN,NaN,NaN,...,HumphriesDJA,686.0,NaN,NaN,False,0,,NaN,NaN,NaN
14269,NaN,NaN,NaN,NaN,NaN,NaN,1389694639880474625,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
6696,NaN,Tue Mar 16 03:02:48 +0000 2021,bloodclot StaySafe pfizer,NaN,NaN,0.0,1371658177780011009,NaN,NaN,NaN,...,Rive_Dopez,2035.0,NaN,NaN,False,1,,NaN,NaN,NaN
2489,NaN,Tue Jan 05 22:45:52 +0000 2021,NaN,NaN,NaN,6.0,1346588754270674946,NaN,NaN,NaN,...,Nakotablackelkn,3204.0,NaN,NaN,False,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12647,NaN,NaN,NaN,NaN,NaN,NaN,1342191221415022593,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1773,NaN,Wed Jan 06 19:43:02 +0000 2021,NaN,NaN,NaN,0.0,1346905130885652489,NaN,NaN,NaN,...,martiecee,16537.0,NaN,NaN,False,1,,NaN,NaN,NaN
6318,NaN,Fri Mar 19 16:47:51 +0000 2021,vaccinated,NaN,https://www.theatlantic.com/science/archive/20...,0.0,1372952970292293634,NaN,NaN,NaN,...,MichaelSmith2nd,6441.0,NaN,NaN,False,0,CA,California,37.1841,-119.4696
1766,NaN,Wed Jan 06 23:20:20 +0000 2021,NaN,NaN,https://bit.ly/35gMnVP,15.0,1346959817697615872,NaN,NaN,NaN,...,standardnews,422949.0,NaN,http://www.standard.co.uk,True,0,,NaN,NaN,NaN
12108,NaN,Fri Jul 09 05:18:09 +0000 2021,NaN,https://twitter.com/msdayydj/status/1413366846...,NaN,0.0,1413366846074413058,NaN,NaN,NaN,...,msdayydj,89467.0,NaN,NaN,False,0,NaN,NaN,NaN,NaN

In [ ]:
sum(comb['abbr'].isna())

5922

In [ ]:
sum(comb['latitude'].isna())

10723

In [ ]:
comb[(comb['latitude'].isna()==True) & (comb['abbr'].isna()==False)][['user_location','abbr','latitude','longitude']]

                       user_location abbr  latitude  longitude
4                 Your mom's bedroom            NaN        NaN
5           United States Of America            NaN        NaN
7                 Virgo Supercluster            NaN        NaN
9           United States Of America            NaN        NaN
11                           Toronto            NaN        NaN
...                              ...  ...       ...        ...
12387                         SHINee            NaN        NaN
12393                   South Africa            NaN        NaN
12394             Stirling, Scotland            NaN        NaN
12397  Brushing my teeth in the hall            NaN        NaN
12399   Huron-Wendat/Anishinabewaki             NaN        NaN

[4801 rows x 4 columns]

In [ ]:
comb.columns

Index(['coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'quote_id', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
       'user_id', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified',
       'is_misinfo', 'abbr', 'state', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
comb.shape

(15073, 40)

# Output

In [ ]:
comb.to_csv('lat_long.csv', index=False)

In [ ]:
# if there is some missing data, it will report the lat and long must be numberic
comb_complete = comb[(comb['abbr'].isna()==False) & (comb['state'].isna()==False)& (comb['abbr'] !='')]
comb_complete = pd.DataFrame(comb_complete.reset_index())
comb_complete.to_csv('lat_long_complete.csv', index=False)

In [ ]:
comb_complete.columns

Index(['index', 'coordinates', 'created_at', 'hashtags', 'media', 'urls',
       'favorite_count', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'place',
       'possibly_sensitive', 'quote_id', 'retweet_count', 'retweet_id',
       'retweet_screen_name', 'source', 'text', 'tweet_url', 'user_created_at',
       'user_id', 'user_default_profile_image', 'user_description',
       'user_favourites_count', 'user_followers_count', 'user_friends_count',
       'user_listed_count', 'user_location', 'user_name', 'user_screen_name',
       'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified',
       'is_misinfo', 'abbr', 'state', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
comb_complete['latitude'].iloc[3]

39.055

In [ ]:
comb_complete['latitude'][3]

39.055

In [ ]:
for i in range(comb_complete.shape[0]):
  if isinstance(comb_complete['latitude'][i], float) == False:
    print(i, type(comb_complete['latitude'][i]))