In [2]:
import pandas as pd
import numpy as np

# CoAID

Combine Files with Labels

In [4]:
ctweet_nolabel = pd.read_csv("CoAID_ids_complete.csv")
ctweet_nolabel.shape #5808*35
ctweet_label = pd.read_csv("CoAID_ids_labelled.txt",delimiter=',')
ctweet_label #6799*3

       index                   id  is_misinfo
0     100001  1252630938770649089           1
1     100001  1243968198111789058           1
2     100001  1242474839966765056           1
3     100001  1242461115616866304           1
4     100001  1242400142335983619           1
...      ...                  ...         ...
6794  200165  1221843359305818115           0
6795  200165  1221841512696205312           0
6796  200165  1221841094050230278           0
6797  200165  1221840413700562944           0
6798  200165  1221840180287606789           0

[6799 rows x 3 columns]

In [17]:
ctweet = pd.merge(ctweet_nolabel, ctweet_label, how='outer', on='id')
ctweet.shape #7865, 37
ctweet[['text','is_misinfo']].head()

                                                text  is_misinfo
0  Excellent, devastating story. Anyone who says ...           1
1  Had a grown man today tell me: \n1. He refuses...           1
2  #IsAMassiveUnderstatement \ncovid 19 is just l...           1
3  just had an encounter with the most ignorant c...           1
4  'We Are Not A Communist Nation': Rally Organiz...           1

**CoAID dataset didn't label the sarcastic content correctly. Just like the first example, 'Excellent, devastating story. Anyone who says covid-19 is “just like the flu” needs to read this https://t.co/c1UaBU9lU1'. This was detected as misleading information which we know it is not true. I decided not to use this dataset.**

# AntiVax

In [20]:
atweet_nolabel = pd.read_csv("AntiVax_ids_complete.csv")
atweet_nolabel.shape #12401*35
atweet_label = pd.read_csv("AntiVax_ids_labelled.txt",delimiter=',')
atweet_label #15073*3

                        id  is_misinfo
0      1344795424855642112           0
1      1344794858133860353           0
2      1344794822691983360           0
3      1344794752819077123           1
4      1344792070507134977           0
...                    ...         ...
15068  1413087751474397186           0
15069  1413087030578401283           0
15070  1413085793397186565           1
15071  1413085519710363648           0
15072  1413085365745774593           0

[15073 rows x 2 columns]

In [24]:
atweet = pd.merge(atweet_nolabel, atweet_label, how='outer', on='id')
atweet.shape #15073, 36
atweet[['text','is_misinfo']].head(100)

                                                 text  is_misinfo
0   My 87 year old grandmother has been quarantini...           0
1   I’m so excited that with this vaccine I can se...           0
2   So excited that I was able to close out 2020 o...           0
3   Well, it happened. My daughter used my grandch...           1
4   I’m getting my COVID-19 vaccine, baby! I’m so ...           0
..                                                ...         ...
95  Literally all I did was say that I’m excited t...           0
96  A vaccine then, not gene therapy (as in the Pf...           1
97  Getting my covid vaccine within the next few w...           0
98  Today I get my covid vaccine. I’ve never been ...           0
99  We are very excited to announce our partnershi...           0

[100 rows x 2 columns]

# Output

In [25]:
atweet.to_csv('atweets_complete_labeled.csv', index=False)